package templates

templ Index() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SAT Form</title>
    </head>
    <body>
        <h1>SAT Form</h1>
    </body>
    </html>
}